<article>
  <h2 dqqArticleTitle>
    圣诞第二日
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月26日
  </h5>
  <div>
    <p style="margin: 1em">
      下午先去视察一下圣诞期间的托儿所及周边情况
    </p>
  </div>
  <div>
    <div [dqqOneImageTextBlock]="imageTextDirectionLeft">
      <img [dqqOneImageTextBlockImage]="imageTextDirectionLeft" src="assets/images/20181226/20181226_tt_min.jpg" alt="table-tennis">
      <p [dqqOneImageTextBlockText]="'center'">大大指导德国人<br>打乒乓球</p>
    </div>
    <div [dqqOneImageTextBlock]="imageTextDirectionRight"  style="margin-top: 30px">
      <p [dqqOneImageTextBlockText]="'center'">托儿所<br>怎么又不开?</p>
      <img [dqqOneImageTextBlockImage]="imageTextDirectionRight" src="assets/images/20181226/20181226_kita_min.jpg" alt="Kita">
    </div>
  </div>
  <div style="margin-top: 40px">
    <p style="margin: 1em 1em 0.5em 1em">
      柠檬蛋糕，大大可以看看闻闻，不能吃，但可以喂爸爸吃。
    </p>
  </div>
  <div dqqTwoVerticalImagesBlock>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181226/20181226_eatCake_1.mp4"
           poster="assets/images/20181226/20181226_eatCake_1_min.png" controls>

    </video>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 7%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181226/20181226_eatCake_2.mp4"
           poster="assets/images/20181226/20181226_eatCake_2_min.png" controls>

    </video>
  </div>
  <div style="margin-top: 40px">
    <div [dqqOneImageTextBlock]="imageTextDirectionRight">
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
             src="assets/videos/20181226/20181226_jimu.mp4"
             poster="assets/images/20181226/20181226_jimu_min.png" controls>

      </video>
      <p [dqqOneImageTextBlockText]="'left'">小妞积木玩得不错，<br>得到妈妈的表扬</p>
    </div>
  </div>
</article>
