<table class="bought-list-table">
  <thead>
    <tr>
      <th>项目</th>
      <th>金额</th>
      <button (click)="openInputForANewBoughtEntry()">+</button>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let boughtEntry of boughtEntries | async">
      <td>{{boughtEntry.content}}</td>
      <td>{{boughtEntry.amount}}</td>
    </tr>
    <tr>
      <td>{{boughtEntries.length | async}}</td>
    </tr>
    <tr *ngIf="newBoughtEntryInputFieldVisible">
      <td><input #newBoughtEntryContent autofocus></td>
      <td><input #newBoughtEntryAmount  (keyup.enter)="addToBoughtList(newBoughtEntryContent.value, newBoughtEntryAmount.value)" ></td>
    </tr>
  </tbody>
</table>
