.bought-list-table {
  padding: 5px 2%;
  width: 100%;

  thead tr th {
    text-align: left;
    border-bottom: #00000f solid 1px;
  }

  tbody tr {
    height: 26px;
  }

  input {
    margin: 3px 5px 0 1px;
  }

}
