<article>
  <h2 dqqArticleTitle>
    扶墙上楼
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月29日
  </h5>
  <div [dqqOneImageTextBlock]="'horizontal-left'">
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181229/20181229.mp4"
           poster="assets/images/20181229/20181229_min.png" controls>

    </video>
    <div [dqqOneImageTextBlockText]="'center'" style="flex-direction: column">
      <p style="text-align: left">
        <span style="color: #cd2e37;">纪念一下</span>:
      </p>
      <p style="text-align: left">
        第一次直着<br>上楼梯
      </p>
    </div>
  </div>
</article>
<dqq-page-indicator></dqq-page-indicator>
