.title {
  margin: 30px 0 0 18px;
  color: rgba(0, 0, 0, 0.8);
}

.menu {
  margin-left: 18px;

  ul {
    padding-left: 0;

    li {
      display: inline-block;
      margin-right: 5px;
      padding: 5px 10px;
      background-color: #eee;
      border-radius: 2px;
      list-style-type: none;

      a {
        text-decoration: none;
        color: #52568b;
      }
    }
  }
}

a.tabActive {
  color: red;
}
