<article>
  <h2 dqqArticleTitle>
    年末度假 - 路上
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月30日
  </h5>
  <div>
    <p style="margin: 1em">
      妈妈为全家谋福利，精挑细选了除夕三日豪华游, 但是。。。
    </p>
  </div>
  <div>
    <p style="margin: 2em 1em 0.5em 1em">
      这是要去哪儿啊? 起得太早，我们真的好困啊!
    </p>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', '0 7% 0 14%', '79%', '3px solid white']"
           src="assets/images/20181230/20181230road_1_min.jpg" alt="20181230_road_tired_1">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', 'auto 14% auto 7%', '79%', '3px solid white']"
           src="assets/images/20181230/20181230road_2_min.jpg" alt="20181230_road_tired_2">
    </div>
  </div>
  <div style="margin-top: 2em">
    <div dqqOneImageTextBlock="horizontal-right">
      <p dqqOneImageTextBlockText="left">来，宝宝困了,<br/>我们一起睡会</p>
      <img dqqOneImageTextBlockImage="horizontal-right" src="assets/images/20181230/20181230road_3_min.png" alt="20181230_road_3">
    </div>
  </div>
  <div>
    <p style="margin: 2em 1em 0.5em 1em">
      老娘骗术安天下, 可以安静的刷屏了。
    </p>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', '0 5% 0 10%', '85%', '3px solid white']"
           src="assets/images/20181230/20181230road_4_min.jpg" alt="20181230_road_sleep_1">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', 'auto 10% auto 5%', '85%', '3px solid white']"
           src="assets/images/20181230/20181230road_5_min.jpg" alt="20181230_road_sleep_2">
    </div>
  </div>
  <div style="margin: 2em 1em 0.5em 1em">
    <div dqqOneImageTextBlock="horizontal-right">
      <p dqqOneImageTextBlockText="left">大魔王醒来,<br/>一番胡言乱语</p>
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 0 0 0', '100%', '2px solid yellowgreen']"
             src="assets/videos/20181230/20181230_video_1.mp4"
             poster="assets/images/20181230/20181230_video_1_ss_min.png" controls>
      </video>
    </div>
  </div>
  <div style="margin: 1em 1em 0.5em 1em">
    <div dqqOneImageTextBlock="horizontal-left">
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 0 0 0', '100%', '2px solid yellowgreen']"
             src="assets/videos/20181230/20181230_video_2.mp4"
             poster="assets/images/20181230/20181230_video_2_ss_min.png" controls>
      </video>
      <p dqqOneImageTextBlockText="right">竟然骗我睡觉,<br/>吵闹双倍奉还</p>
    </div>
  </div>
  <div style="margin: 2em 1em 0.5em 1em">
    <p>节假日车厢空荡荡的，正适合玩耍</p>
    <div dqqOneImageTextBlock="horizontal-right">
      <p dqqOneImageTextBlockText="left">我的包车！<br/>这个人是谁?</p>
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 0 0 0', '100%', '2px solid yellowgreen']"
             src="assets/videos/20181230/20181230_video_3.mp4"
             poster="assets/images/20181230/20181230_video_3_ss_min.png" controls>
      </video>
    </div>
  </div>
  <div style="margin: 1em 1em 0.5em 1em">
    <div dqqOneImageTextBlock="horizontal-left">
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 0 0 0', '100%', '2px solid yellowgreen']"
             src="assets/videos/20181230/20181230_video_4.mp4"
             poster="assets/images/20181230/20181230_video_4_ss_min.png" controls>
      </video>
      <p dqqOneImageTextBlockText="right">快让我在<br/>车厢里<br/>撒点野</p>
    </div>
  </div>
</article>
