.nav-button-area {
  display: inline-block;
  position: fixed;
  right: 1.5em;
  top: 1.5em;
}

.nav-side-bar {
  height: 100%;
  width: 65%;
  background-color: #979d9b;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 5px;
  z-index: 1;
}

button {
  padding: 0.5em;
  font-family: Arial, serif;
  font-size: 1rem;
}


