<article>
  <h2 dqqArticleTitle>
    圣诞夜 - 圣诞“老”人
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月24日
  </h5>
  <div>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(15deg)']" src="assets/images/20181224/20181224_2_min.jpg" alt="20181224_2">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(-15deg)']" src="assets/images/20181224/20181224_3_min.jpg" alt="20181224_3">
    </div>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(-15deg)']" src="assets/images/20181224/20181224_4_min.jpg" alt="20181224_4">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(15deg)']" src="assets/images/20181224/20181224_5_min.jpg" alt="20181224_5">
    </div>

    <div [dqqOneImageTextBlock]="imageTextDirection" style="margin-top: 20px">
      <img [dqqOneImageTextBlockImage]="imageDirection" src="assets/images/20181224/20181224_1_min.jpg" alt="new hat">
      <p [dqqOneImageTextBlockText]="'center'">大大头顶身穿奶奶织的毛线<br>现已预定来年的帽子</p>
    </div>
  </div>
</article>
