<article xmlns="http://www.w3.org/1999/html">
  <h2 dqqArticleTitle>
    年末度假 - 度假村
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月30日
  </h5>
  <div>
    <p style="margin: 1em">
      到达后才知道这是一个海盗主题公园，入驻的旅馆就在度假村内。
      最大的好消息就是全天除了三餐都是自助外，咖啡饮料蛋糕都是自助。
    </p>
  </div>
  <div>
    <p style="margin: 2em 1em 0.5em 1em">
      你们这是带我来<span style="font-size: 18px; font-weight: bold; color: darkred">面包自助</span>吗?
    </p>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', '0 7% 0 14%', '79%', '3px solid white']"
           src="assets/images/20181230/20181230_hotel_1_min.jpg" alt="20181230_hotel_1">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', 'auto 14% auto 7%', '79%', '3px solid white']"
           src="assets/images/20181230/20181230_hotel_2_min.jpg" alt="20181230_hotel_2">
    </div>
  </div>
  <div style="margin: 1em">
    <div dqqOneImageTextBlock="horizontal-right">
      <p dqqOneImageTextBlockText="left">我表示抗议！<br/>叫我大大也没用</p>
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 0 0 0', '100%', '2px solid yellowgreen']"
             src="assets/videos/20181230/20181230_hotel_1.mp4"
             poster="assets/images/20181230/20181230_hotel_1_min.png" controls>
      </video>
    </div>
  </div>
  <div>
    <p style="margin: 2em 1em 0.5em 1em">
      这只熊实在太可爱了，小丑也不错。
    </p>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(15deg)']"
           src="assets/images/20181230/20181230_hotel_6_min.jpg" alt="20181230_hotel_1">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(-15deg)']"
           src="assets/images/20181230/20181230_hotel_3_min.jpg" alt="20181230_hotel_2">
    </div>
    <div dqqTwoVerticalImagesBlock>
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(-15deg)']"
           src="assets/images/20181230/20181230_hotel_5_min.jpg" alt="20181230_hotel_3">
      <img [dqqTwoVerticalImagesBlockImage]="['rotate(15deg)']"
           src="assets/images/20181230/20181230_hotel_4_min.jpg" alt="20181230_hotel_4">
    </div>
  </div>
  <div style="margin: 2em 1em 0.5em 1em">
    <div dqqOneImageTextBlock="horizontal-right">
      <p dqqOneImageTextBlockText="left">姑娘心情好<br/>喊几声妈妈</p>
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 0 0 0', '100%', '2px solid yellowgreen']"
             poster="assets/images/20181230/20181230_hotel_2_min.png" controls>
             <source src="assets/videos/20181230/20181230_hotel_2.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <div>
    <p style="margin: 2em 1em 0.5em 1em">
      太兴奋了! 展示一下我的娃蛙舞!
    </p>
  </div>
  <div dqqTwoVerticalImagesBlock>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
           poster="assets/images/20181230/20181230_hotel_3_min.png" controls>
           <source src="assets/videos/20181230/20181230_hotel_3.mp4" type="video/mp4">
    </video>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 7%', '79%', '2px solid yellowgreen']"
           poster="assets/images/20181230/20181230_hotel_4_min.png" controls>
           <source src="assets/videos/20181230/20181230_hotel_4.mp4" type="video/mp4">
    </video>
  </div>
</article>
