<article>
  <h2 dqqArticleTitle>
    被抓现行
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月25日
  </h5>
  <div>
    <p style="margin: 1em">
      一个叫大大的小孩未经邻居允许，擅自驾驶别人的小车。 被妈妈发现后，仓皇出逃，慌乱中没有找到出口。
    </p>
  </div>
  <div dqqTwoVerticalImagesBlock>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181225/20181225_riding_1.mp4" controls>

    </video>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 7%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181225/20181225_riding_2.mp4" controls>

    </video>
  </div>
  <div >
  </div>
</article>
