<table class="appointment-list-table">
  <thead>
  <tr>
    <th class="table-column-date">日期</th>
    <th class="table-column-content">内容</th>
    <button (click)="openInputForANewAppointmentEntry()">+</button>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let appointmentEntry of appointmentEntries | async; index as index"
      dqqLongPress [timeout]="500" (longPressed)="appointmentEntryLongPressed($event)">
    <td>
      {{appointmentEntry.date | date:'dd/MM/yyyy'}}
      {{appointmentEntry.date | date:'HH:mm'}}
      <br>
      {{appointmentEntry.date | date:'EEEE' | dateFormat}}
    </td>
    <td>
      {{appointmentEntry.content}}
      <span *ngIf="updateRemoveAppointmentVisibility(index)">
          <button (click)="deleteAppointmentEntry(index)">删除</button>
        </span>
    </td>
  </tr>
  <tr *ngIf="newAppointmentInputFieldVisible">
    <td class="table-column-date"><input type="datetime-local" [value]="currentDate" #newAppointmentEntryDate autofocus></td>
    <td class="table-column-content">
      <div style="display: inline-block">
        <input style="max-width: 70%" #newAppointmentEntryContent
               (keyup.enter)="addToAppointmentsList(newAppointmentEntryDate.value, newAppointmentEntryContent.value)">
        <button (click)="addToAppointmentsList(newAppointmentEntryDate.value, newAppointmentEntryContent.value)">保存</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
