<article>
  <h2 dqqArticleTitle>
    不走寻常路
  </h2>
  <h5 dqqArticleSubtitleDate>
    2018年12月28日
  </h5>
  <div>
    <p style="margin: 1em">
      保安在哪里? 保安！保安!
    </p>
  </div>
  <div dqqTwoVerticalImagesBlock>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181228/20181228_wagen_1-converted.mp4"
           poster="assets/images/20181228/20181228_wagen_1_min.png" controls>

    </video>
    <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 7%', '79%', '2px solid yellowgreen']"
           src="assets/videos/20181228/20181228_wagen_2-converted.mp4"
           poster="assets/images/20181228/20181228_wagen_2_min.png" controls>

    </video>
  </div>
  <div style="margin-top: 40px">
    <p style="margin: 1em">
      中午大大在爸爸的带领下，与家具城的大熊进行了亲切的会面
    </p>
  </div>
  <div dqqTwoVerticalImagesBlock style="margin:0 7% ; border: 2px dashed lightpink;">
    <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', '0 auto', '79%', '3px solid white']"
         src="assets/images/20181228/20181228_baer_1_min.jpg" alt="20181228_baer_1">
    <img [dqqTwoVerticalImagesBlockImage]="['rotate(0)', '0 auto', '79%', '3px solid white']"
         src="assets/images/20181228/20181228_baer_2_min.jpg" alt="20181228_baer_2">
  </div>
  <div style="margin-top: 40px">
    <p style="margin: 1em">
      晚上，妈妈号称带着大大一起玩。
    </p>
  </div>
  <div>
    <div [dqqOneImageTextBlock]="'horizontal-left'">
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 14%', '79%', '2px solid yellowgreen']"
             src="assets/videos/20181228/20181228_seperate-converted.mp4"
             poster="assets/images/20181228/20181228-seperate_min.jpg" controls>

      </video>
      <p [dqqOneImageTextBlockText]="'left'">各自为政，<br>很和谐</p>
    </div>
    <div [dqqOneImageTextBlock]="'horizontal-right'" style="margin-top: 20px">
      <p [dqqOneImageTextBlockText]="'left'">群魔乱舞，<br>很恐怖</p>
      <video [dqqTwoVerticalImagesBlockImage]="[ '', '0 auto 0 0', '79%', '2px solid yellowgreen']"
             src="assets/videos/20181228/20181228_together-converted.mp4"
             poster="assets/images/20181228/20181228-together_min.png" controls>

      </video>
    </div>
  </div>
</article>
