<div class="priority-tables">
  <table class="priority-table">
    <thead>
      <tr>
        <th>最高优先级</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let highPriorityFurniture of highPriorityFurnitures | async; index as index"
        dqqLongPress [timeout]="500"
        (longPressed)="updateHighPriorityFurniture($event, highPriorityFurniture.status, Priorities.HIGH)">
        <td [class.bought]="highPriorityFurniture.status">{{ highPriorityFurniture.content }}</td>
      </tr>
    </tbody>
  </table>

  <table class="priority-table">
    <thead>
    <tr>
      <th>中等优先级</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let midPriorityFurniture of midPriorityFurnitures |async"
          dqqLongPress [timeout]="500"
          (longPressed)="updateMidPriorityFurniture($event, midPriorityFurniture.status, Priorities.MID)">
        <td [class.bought]="midPriorityFurniture.status">{{ midPriorityFurniture.content }}</td>
      </tr>
    </tbody>
  </table>

  <table class="priority-table">
    <thead>
    <tr>
      <th>低等优先级</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lowPriorityFurniture of lowPriorityFurnitures | async"
          dqqLongPress [timeout]="500"
          (longPressed)="updateLowPriorityFurniture($event, lowPriorityFurniture.status, Priorities.LOW)">
        <td>{{ lowPriorityFurniture.content }}</td>
      </tr>
    </tbody>
  </table>
</div>

