.contract-tables {
  padding: 5px 2%;
}

.contract-table thead tr th {
  text-align: left;
  border-bottom: #00000f solid 1px;

  button {
    margin-left: 15px;
    margin-bottom: 5px;
  }
}

input {
  margin: 0 5px 0 1px;
}



