<div class="contract-tables">
  <table class="contract-table">
    <thead>
    <tr>
      <th>签约合同 <button (click)="openInputForSignContracts()">+</button> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let signContractsToDoEntry of signContractsToDoEntries | async; index as index">
      <td dqqLongPress [timeout]="500" (longPressed)="signContractsEntryLongPressed($event)">
        <span *ngIf="!updateEntrySignContractUpdateInputFieldVisible">{{signContractsToDoEntry}}</span>
<!--        <span *ngIf="!updateEntrySignContractUpdateInputFieldVisible; else signContractUpdateInputField">{{ signContractsToDoEntry }}</span>-->
<!--        <ng-template #signContractUpdateInputField>-->
<!--          <input #updateToDoSignContract (keyup.enter)="updateEntryInSignContract(index, updateToDoSignContract.value)">-->
<!--        </ng-template>-->
        <span *ngIf="updateRemoveSignContractsVisibility(index)">
          <button>修改</button>
          <button (click)="deleteEntryInSignContract(index)">删除</button>
        </span>
      </td>
    </tr>
    <div *ngIf="signContractsInputVisible">
      <input #newToDoSignContract (keyup.enter)="addToDoForSignContracts(newToDoSignContract.value)" autofocus>
      <button (click)="addToDoForSignContracts(newToDoSignContract.value)">保存</button>
    </div>
    </tbody>
  </table>

  <table class="contract-table">
    <thead>
    <tr>
      <th>解除合同 <button (click)="openInputForCancellationContracts()">+</button></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cancellationContractsToDoEntry of cancellationContractsToDoEntries | async; index as index">
      <td dqqLongPress [timeout]="500" (longPressed)="cancellationContractsEntryLongPressed($event)">
        {{ cancellationContractsToDoEntry }}
        <span *ngIf="updateRemoveCancellationContractsVisibility(index)">
          <button>修改</button>
          <button (click)="deleteEntryInCancellationContract(index)">删除</button>
        </span>
      </td>
    </tr>
    <div *ngIf="cancellationContractsInputVisible">
      <input #newToDoCancellationContract
             (keyup.enter)="addToDoForCancellationContracts(newToDoCancellationContract.value)" autofocus>
      <button (click)="addToDoForCancellationContracts(newToDoCancellationContract.value)">保存</button>
    </div>
    </tbody>
  </table>
</div>
